@{
    ViewData["Title"] = "SelectDietPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SelectDietPlan</h1>
<div>
    <form asp-action="SubmitDietPlan">
        <div id="fitness-goals">
            <h4>Fitness Goal</h4>
            <input type="radio" name="fitness-goal" value="1" />Rapid Weight Loss
            <input type="radio" name="fitness-goal" value="2" />Weight Loss
            <input type="radio" name="fitness-goal" value="3" />Maintain Weight
            <input type="radio" name="fitness-goal" value="4" />Gain Weight
            <input type="radio" name="fitness-goal" value="5" />Rapid Weight Gain
            <div>
                <input type="submit" value="Submit" />
            </div>
        </div>
        <div id="diet-plans">
            
        </div>
    </form>
