@model  Fitbook.Models.FitbookUsersMacronutrients
@{
    ViewData["Title"] = "SelectMacronutrientSplit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/MacronutrientForm/styles.css">

<h1>SelectMacronutrientSplit</h1>
<div>
    <form asp-action="SubmitMacronutrientSplit" id="prebuilt-macro-splits-form">
        <input type="radio" class="form-check-input" name="macro-split" value="high carbs" /> High Carbs: 40/30/30<br />
        <input type="radio" class="form-check-input" name="macro-split" value="high protein" /> High Protein: 40/40/20<br />
        <input type="radio" class="form-check-input" name="macro-split" value="balanced" /> Balanced: 35/35/30<br />
        <input class="btn btn-primary" type="submit" value="Submit Split"/>
    </form>

    <button id="show-custom-split-form" class="btn btn-light">Enter in your custom split</button>

    <form asp-action="SubmitCustomMacronutrientSplit" id="custom-macro-split-form">
        <input type="text" class="form-control" name="carbs" placeholder="% of Carbohydrates" />
        <input type="text" class="form-control" name="protein" placeholder="% of Protein" />
        <input type="text" class="form-control" name="fat" placeholder="% of Fat" />
        <input class="btn btn-primary" type="submit" value="Submit Custom Split" />
    </form>
</div>

<script src="~/js/macronutrient-form.js"></script>