@model Fitbook.ViewModel.CompareAgainstMacrosViewModel

<div>
    <p>The total number of servings for @Model.Food.FoodName you can have and still meet your daily caloric goals is @Model.Serving</p>
</div>