@model  Fitbook.ViewModel.FoodQueryResultsViewModel;
@{
    ViewData["Title"] = "ShowQueryResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results</h1>

<div>
    @{ 
        for(int i = 0; i < Model.queryResults.Count; i++)
        {
            <p>@Model.queryResults[i].FoodName</p>
        }
    }
</div>

