@model Fitbook.Models.Chat

    <div id="chat-container"class="container">
        <input type="hidden" value="@ViewBag.user" id="username" />
        <div class="row">
            @*<div class="col-">&nbsp;</div>*@
            <div class="col-12" id="chatbox">
                <ul id="messagesList"></ul>
            </div>
        </div>
        @*<div class="row">&nbsp;</div>*@
        <div class="row">
            <div class="col-6">
                <input type="text" id="messageInput" placeholder="Say something..." />
            </div>
            <div class="col-6">
                <input type="button" class="btn btn-primary btn-group-sm" id="sendButton" value="Send" />
            </div>
        </div>
    </div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
